<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;    
}
</style>
</head>
<body>

<h2>Train Delay Data</h2>


<table style="width:100%">
  <tr>
    <td>Scheduled Time </td>
    <td >Average Delay At start</td>
	<td >Operator</td>
	<td> Number of services </td>
	<td> Cancelled %</td>
	<td> Average delay At destination</td>
	<td> Scheduled Journey TIime</td>
      <td> Delayed by standard %</td>
      <td> More information</td>
  </tr>
  edit me
 
</table>
<p>The cancelled statistic may be wrong if the data I got from darwin is incorrect, the program assumes where no dpeature from station is specified the service has been cancelled, but this can happen due to Incorrect information</p>
<p> The industry now defines train as late if they are more than 1 minture late or early, although this data is not available at all stations</p>
<a href="https://www.nationalrail.co.uk/">
         <img alt="Powered by natioanl rail logo, links to there website" src="../NR_media/NRE_Powered_logo.jpg" width="30%" height="10%">
      </a>
</body>
</html>
